body {
  background: linear-gradient(to bottom right, #66ccff 0%, #3366cc 100%);
}

div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
mat-spinner{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}